/* colors*/
/* breakpoints*/
/* 480   small*/
/* 768   medium*/
/* 992   xmedium*/
/* 1024  large*/
/* 1280  xlarge*/
/* 1440  xxlarge*/
/* 1920  big*/
/* buttons mixins*/
/* links*/
/* flex mixes*/
/* default transitions */
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 18px; }
  .footer__menu h5 {
    color: #fff;
    margin: 0; }
  .footer__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    padding: 0; }
    .footer__menu ul li {
      list-style-type: none; }
      .footer__menu ul li a {
        color: #fff; }
        .footer__menu ul li a:hover {
          color: #ca4e5d; }
