@import "../../../../scss/style";
.overlay-menu {
	.navbar-light {
		.header__menu {
			li {
				a {
					color: $white;
					&:hover {
						color: $red;
					}
					&.selected {
						color: $red;
						&:hover {
							color: $white;
						}
					}
				}
			}
		}
	}
}
.header__menu {
	display: none;
	&:not(.max-width__menu) {
		width: 400px;
	}
	&.max-width__menu {
		@include media-up(large) {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			gap: 0px;
			padding: 0;
			margin: 0;
			.floor__icon {
				width: 25px;
			}
			li {
				list-style: none;
				a {
					padding: 14px 22px;
					font-weight: 600;
					font-size: 1.1rem;
					&.selected {
						color: $red;
						&:hover {
							color: $black;
						}
					}
				}
			}
		}
	}
}